html
  background url('../images/crossword.png')
  font-family sans-serif
  
html, body
  height 100%
  
div[ng-model="note"]
  height 100%
  
.column 
  height 100%
  
#stage
  background #fafafa
  
.btn-group 
  display inline-block

.green
  color #A1CF64
  
.red
  color #D95C5C
  
div[contenteditable="true"]
  border 1px dashed gray